.twerk-bar {
	background-color: #BD4343;
	min-height: 50px;
	border-radius: 10px;
	overflow: hidden;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;

	.score-bar {
		min-height: 50px;
		height: 100%;
		background-color: #4385BD;
		-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
		transition: width 2s;
	}

	.player-1 {
		margin-top: 13px;
		margin-left: 40px;
		float: left;
		text-align:left;
	}
	.player-2 {
		margin-top: 15px;
		margin-right: 40px;
		float: right;
		text-align:right;
	}
}

.red-text {
	color: #BD4343;
}

.blue-text {
	color: #4385BD;
}

.visualisation-wrapper {
	padding: 25px;
	background-color: #EEEEEE;
	min-height: 50px;
	border-radius: 10px;
	text-align: center;
}

.battle-stats {
	.player-name {
		font-weight: bold;
		font-size: 24px;
	}

	.player-1 {
		 float: left;
  		width:33.33333%;
  		text-align:left;
	}
	.titles {
		float: left;
 		width:33.33333%;
  		text-align:center;
  		font-weight:bold;
	}
	.player-2 {
		float: left;
 		width:33.33333%;
 		text-align:right;
	}
}

.c3-chart .c3-chart-lines {
	fill-opacity: 0;
}

.gameover {
	text-align: center;
}