<p>Twerk it, twerk it</p>

<p>Completed Twerks: {{t}}</p>
<p>Twerks Per Minute: {{tpm}}</p>

<!-- <svg width="100%"  height="50" viewport-fill="yellow">
   <rect width="{{t}}" height="50" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
   <rect x="{{t}}" width="{{500-t}}" height="50" style="fill:rgb(255,0,0);stroke-width:3;stroke:rgb(0,0,0)" />
</svg> -->

<p>Twerk for points to fill up your twerk-o-meter</p>
<div class="twerkBar">
	<div class="scoreBar" style="width:{{t}}px;"></div>
</div>