<div class="alert alert-success alert-dismissible" role="alert" ng-show="gameOver">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Congratulations!</strong> {{winnerName}} You Twerk with the best of 'em.
</div>
<div class="session-nav">
	<ul class="pager">
	  <li class="previous">
	  	<a href="javascript:void(0);" ng-click="pageLeft()">&larr;</a>
	  </li>
	  <li>{{page+1}} / {{numPages}}</li>
	  <li class="next">
  		<a href="javascript:void(0);" ng-click="pageRight()">&rarr;</a>
	  </li>
	</ul>
</div>

<div class="visualisation-wrapper" ng-switch="page">
	<div ng-switch-when="0" >
		<div ng-include src="'/views/visualisations/battle.html'" ></div>
	</div>
	<div ng-switch-when="1">
		<div ng-include src="'/views/visualisations/graph.html'" ></div>
	</div>
	<div ng-switch-when="2">
		<div ng-include src="'/views/visualisations/pulse.html'" ></div>
	</div>
</div>
<br>